requests
python-dotenv
Flask
pydantic
gunicorn
psycopg2-binary
Flask-WTF
dash
pandas
plotly
dash-mantine-components
dash-iconify
numpy
BeautifulSoup4
tkintermapview
librosa
matplotlib
interact
ipywidgets
ttkthemes
scikit-learn
openpyxl